@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75); /* pragraph */
    --very-light-gray: hsl(0, 0%, 95%); /* background, heading, button */
}

body {
    align-items: center;
    background-color: var(--very-light-gray);
    display: flex;
    flex-direction: column;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    padding: 60px 0px;
}

main {
    border-radius: 10px;
    overflow: hidden;
}

h2 {
    color: var(--very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 40px 0px;
}

p {
    color: var(--transparent-white);
    line-height: 1.7em;
    letter-spacing: 2px;
}

.card {
    height: 500px;
    width: 350px;
}

.card-border {
    height: 100%;
    padding: 60px;
}

.sedans {
    background-color: var(--bright-orange);
}

.suvs {
    background-color: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
}

.button {
    align-items: center;
    background-color: var(--very-light-gray);
    border-radius: 50px;
    display: flex;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    width: 180px;
    margin: 35px 0px 0px;
}

.button:hover {
    background-color: transparent;
    border: 2px solid var(--very-light-gray);
    cursor: pointer;
    height: 46px;
    width: 176px;
    color: var(--very-light-gray);
}

.sedans .button:hover {
    color: var(--very-light-gray);
}

.suvs .button:hover {
    color: var(--very-light-gray);
}

.luxury .button:hover {
    color: var(--very-light-gray);
}

.sedans .button {
    color: var(--bright-orange);
}

.suvs .button {
    color: var(--dark-cyan);
}

.luxury .button {
    color: var(--very-dark-cyan);
}

@media screen and (min-width: 1440px) {
    .card {
        height: 550px;
    }

    .sedans {
        float: left;
    }
    
    .suvs {
        float: left;
    }
    
    .luxury {
        float: left;
    }
 
    .button {
        margin: 55px 0px 0px;
    }
}